# Server
PORT=3010

#Enviroment
NODE_ENV=development

# Database
DATABASE_URL="postgresql://<USER>:<PW>t@<HOST>:<PORT>/<DATABASE_NAME>"

#Jwt
JWT_SECRET="secret"
JWT_EXPIRES_IN=86400000 # 1 day
JWT_GRACE_PERIOD=10800000 # 3 hours

#Bcrypt
BCRYPT_SALT_ROUNDS=10

#API
BASE_URL="/api/v1"